<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="hu.cubussapiens.modembed.architectures">
      <architecture
            id="microchip.baseline"
            instructionSet="microchip.baseline.iset"
            name="Microchip Base-Line">
      </architecture>
      <architecture
            id="microchip.midrange"
            instructionSet="microchip.midrange.iset"
            name="Microchip Mid-Range">
      </architecture>
      <architecture
            id="microchip.pic18"
            instructionSet="microchip.pic18.iset"
            name="Microchip High-End (PIC18)">
      </architecture>
   </extension>
   <extension
         point="hu.cubussapiens.modembed.instructionsets">
      <instructionset
            id="microchip.baseline.iset"
            model="pic_baseline.instructionset">
      </instructionset>
      <instructionset
            id="microchip.midrange.iset"
            model="pic_midrange.instructionset">
      </instructionset>
      <instructionset
            id="microchip.pic18.iset"
            model="pic18.instructionset">
      </instructionset>
   </extension>

</plugin>
