<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="hu.cubussapiens.modembed.ui.wizards"
            class="hu.cubussapiens.modembed.pic.ui.config.editor.wizards.NewPICConfiguration"
            icon="icons/chip_config.png"
            id="hu.gb.embedded.pic.ui.config.editor.wizards.NewPICConfiguration"
            name="New PIC Configuration"
            project="false">
      </wizard>
   </extension>

</plugin>
