<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="hu.modembed.programmers" name="Programmers" schema="schema/hu.modembed.programmers.exsd"/>
   <extension-point id="hu.modembed.ui.includedCode" name="Included Code" schema="schema/hu.modembed.ui.includedCode.exsd"/>
   <extension
         point="hu.modembed.ui.includedCode">
      <category
            id="hu.modembed.category.core"
            name="Generic">
      </category>
      <project
            archive="shared/e.core.zip"
            category="hu.modembed.category.core"
            id="e.core"
            name="Core resources">
      </project>
   </extension>
   <extension
         point="org.eclipse.epsilon.common.dt.tool">
      <tool
            class="hu.modembed.utils.MODembedTool"
            defaultName="modembedTool">
      </tool>
   </extension>

</plugin>
