<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="hu.modembed.programmers" name="Programmers" schema="schema/hu.modembed.programmers.exsd"/>
   <extension-point id="hu.modembed.ui.includedCode" name="Included Code" schema="schema/hu.modembed.ui.includedCode.exsd"/>
   <extension
         point="hu.modembed.ui.includedCode">
      <project
            category="hu.modembed.category.core"
            icon="icons/e.core.png"
            id="e.core"
            name="Core platform">
         <resource
               path="/"
               resource="core/platform.e">
         </resource>
         <resource
               path="/"
               resource="core/dio.e">
         </resource>
      </project>
      <category
            id="hu.modembed.category.core"
            name="Generic">
      </category>
   </extension>

</plugin>
