<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension-point id="optimizers" name="Compiler Optimizers" schema="schema/hu.e.compiler.optimizers.exsd"/>
   <extension-point id="tasks" name="Workflow tasks" schema="schema/tasks.exsd"/>
   <extension
         point="hu.e.compiler.tasks">
      <taskType
            class="hu.e.compiler.tasks.DisassembleHexFileTask"
            id="hex.disassemble">
      </taskType>
      <taskType
            class="hu.e.compiler.tasks.AssembleHexFileTask"
            id="hex.assemble">
      </taskType>
      <taskType
            class="hu.e.compiler.tasks.MergeHexFileTask"
            id="hex.merge">
      </taskType>
      <taskType
            class="hu.e.compiler.tasks.CreateAssemblerObjectTask"
            id="compiler.toasm">
      </taskType>
      <taskType
            class="hu.e.compiler.tasks.L4ToL3Task"
            id="compiler.integrate">
      </taskType>
      <taskType
            class="hu.e.compiler.tasks.L3ToL2Task"
            id="compiler.resolve">
      </taskType>
      <taskType
            class="hu.e.compiler.tasks.L2ToL1Task"
            id="compiler.flatten">
      </taskType>
      <taskType
            class="hu.e.compiler.tasks.CreateHeapMemoryMap"
            id="compiler.map">
      </taskType>
      <taskType
            class="hu.e.compiler.tasks.optimizers.ConstantExpressionOptimizer"
            id="optimize.constants">
      </taskType>
      <taskType
            class="hu.e.compiler.tasks.optimizers.StripOptimizer"
            id="optimize.strip">
      </taskType>
   </extension>


</plugin>
