<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension-point id="optimizers" name="Compiler Optimizers" schema="schema/hu.e.compiler.optimizers.exsd"/>
   <extension-point id="tasks" name="Workflow tasks" schema="schema/tasks.exsd"/>
   <extension
         point="hu.e.compiler.tasks">
      <taskType
            class="hu.e.compiler.tasks.DisassembleHexFileTask"
            id="e.hex.disassemble">
      </taskType>
      <taskType
            class="hu.e.compiler.tasks.AssembleHexFileTask"
            id="e.hex.assemble">
      </taskType>
      <taskType
            class="hu.e.compiler.tasks.MergeHexFileTask"
            id="e.hex.merge">
      </taskType>
   </extension>


</plugin>
