<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension-point id="pages" name="Model Editor pages" schema="schema/hu.modembed.model.editor.pages.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="hu.modembed.model.editor.GenericModelEditor"
            contributorClass="hu.modembed.model.editor.GenericModelActionBarContributor"
            default="true"
            extensions="xmi"
            id="hu.modembed.model.editor"
            name="Model Editor">
      </editor>
      <editor
            class="hu.modembed.model.editor.mtexteditor.MTextEditor"
            default="true"
            extensions="m"
            id="hu.modembed.model.m.editor"
            name="MODembed textual model editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="hu.modembed.model.editor.DeleteHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="org.eclipse.emf.ecore.EObject">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
   </extension>















</plugin>
