<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="hu.modembed.ui.model.descriptors" name="Model Descriptors" schema="schema/hu.modembed.ui.model.descriptors.exsd"/>
   <extension
         id="nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="hu.modembed.ui.EProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/e.png"
            id="hu.e.project.nature.icon"
            natureId="hu.modembed.ui.nature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="hu.modembed.ui.wizards"
            class="hu.modembed.ui.wizards.NewMODembedProjectWizard"
            finalPerspective="hu.modembed.ui.perspective"
            icon="icons/project_chip.png"
            id="hu.modembed.ui.newProject"
            name="New e project"
            project="true">
      </wizard>
      <category
            id="hu.modembed.ui.wizards"
            name="MODembed">
      </category>
      <wizard
            category="hu.modembed.ui.wizards"
            class="hu.modembed.ui.wizards.NewModembedFileWizard"
            id="hu.modembed.ui.newmodelwizard"
            name="new MODembed model">
      </wizard>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="MODembed">
         <property
               name="appName"
               value="MODembed">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupMessageRect"
               value="4,222,440,18">
         </property>
         <property
               name="startupProgressRect"
               value="0,240,450,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="icons/window/cpu_50.png">
         </property>
         <property
               name="aboutText"
               value="MODembed {0} ({1}/{2})&#x0A;&#x0A;Model-based embedded development environment&#x0A;&#x0A;web page: http://modembed.sourceforge.net">
         </property>
         <property
               name="windowImages"
               value="icons/window/cpu_16.png,icons/window/cpu_48.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="hu.modembed.ui.Startup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="hu.modembed.ui.perspective.MODembedPerspectiveFactory"
            icon="icons/window/cpu_16.png"
            id="hu.modembed.ui.perspective"
            name="Embedded development">
      </perspective>
   </extension>
   <extension
         point="hu.modembed.ui.model.descriptors">
      <model
            name="Core model">
         <adapterfactory
               class="hu.modembed.model.core.provider.CoreItemProviderAdapterFactory">
         </adapterfactory>
         <adapterfactory
               class="hu.modembed.model.network.provider.NetworkItemProviderAdapterFactory">
         </adapterfactory>
         <adapterfactory
               class="hu.modembed.model.network.rs232.provider.Rs232ItemProviderAdapterFactory">
         </adapterfactory>
      </model>
   </extension>

</plugin>
