<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated application -->
      <package
            uri="http://modembed.hu/application"
            class="application.ApplicationPackage"
            genModel="model/application.genmodel"/>
   </extension>
   <extension
         point="hu.temon.grammars">
      <grammar
            id="modembed.application"
            model="model/modembed.application.grammar">
      </grammar>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="hu.modembed.application.ApplicationResourceFactory"
            type="mal">
      </parser>
   </extension>

</plugin>
