<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://modembed.hu/core"
            class="hu.modembed.model.core.CorePackage"
            genModel="model/modembedmodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://modembed.hu/core/assembler"
            class="hu.modembed.model.core.assembler.AssemblerPackage"
            genModel="model/modembedmodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://modembed.hu/core/assembler/code"
            class="hu.modembed.model.core.assembler.code.CodePackage"
            genModel="model/modembedmodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://modembed.hu/core/workflow"
            class="hu.modembed.model.core.workflow.WorkflowPackage"
            genModel="model/modembedmodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://modembed.hu/architecture"
            class="hu.modembed.model.architecture.ArchitecturePackage"
            genModel="model/modembedmodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://modembed.hu/abstraction/types"
            class="hu.modembed.model.abstraction.types.TypesPackage"
            genModel="model/modembedmodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://modembed.hu/behavior"
            class="hu.modembed.model.abstraction.behavior.BehaviorPackage"
            genModel="model/modembedmodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://modembed.hu/platform"
            class="hu.modembed.model.abstraction.behavior.platform.PlatformPackage"
            genModel="model/modembedmodel.genmodel"/>
   </extension>

</plugin>
