<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://modembed.hu/infrastructure"
            class="hu.modembed.model.modembed.infrastructure.InfrastructurePackage"
            genModel="model/modembed.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://modembed.hu/infrastructure/traceability"
            class="hu.modembed.model.modembed.infrastructure.traceability.TraceabilityPackage"
            genModel="model/modembed.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://modembed.hu/core/instructionset"
            class="hu.modembed.model.modembed.core.instructionset.InstructionsetPackage"
            genModel="model/modembed.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://modembed.hu/core/object"
            class="hu.modembed.model.modembed.core.object.ObjectPackage"
            genModel="model/modembed.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://modembed.hu/abstraction"
            class="hu.modembed.model.modembed.abstraction.AbstractionPackage"
            genModel="model/modembed.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://modembed.hu/abstraction/types"
            class="hu.modembed.model.modembed.abstraction.types.TypesPackage"
            genModel="model/modembed.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://modembed.hu/abstraction/memorymodel"
            class="hu.modembed.model.modembed.abstraction.memorymodel.MemorymodelPackage"
            genModel="model/modembed.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://modembed.hu/abstraction/behavior"
            class="hu.modembed.model.modembed.abstraction.behavior.BehaviorPackage"
            genModel="model/modembed.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://modembed.hu/abstraction/behavior/platform"
            class="hu.modembed.model.modembed.abstraction.behavior.platform.PlatformPackage"
            genModel="model/modembed.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://modembed.hu/structured"
            class="hu.modembed.model.modembed.structured.StructuredPackage"
            genModel="model/modembed.genmodel"/>
   </extension>

</plugin>
