<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="hu.modembed.ui.includedCode">
      <category
            id="hu.modembed.pic.examples.category"
            name="Examples"
            parent="hu.modembed.pic.ui.category">
      </category>
      <project
            category="hu.modembed.pic.examples.category"
            id="e.examples.blink.pic16f1824"
            name="PIC16F1824 blinker example">
         <dependency
               project="microchip.PIC16F1824">
         </dependency>
         <resource
               path="/"
               resource="examples/blink.pic16f1824/blink.main.e">
         </resource>
      </project>
   </extension>

</plugin>
