<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="hu.modembed.ui.includedCode">
      <category
            id="hu.modembed.pic.examples.category"
            name="Examples">
      </category>
      <project
            archive="shared/example.ledblink.zip"
            category="hu.modembed.pic.examples.category"
            id="e.examples.blink"
            name="LED blinker example">
         <dependency
               project="e.core">
         </dependency>
         <dependency
               project="microchip.pic16">
         </dependency>
         <dependency
               project="microchip.PIC16F1824">
         </dependency>
      </project>
   </extension>

</plugin>
