<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            id="hu.modembed.model.graph.compositionDiagram"
            name="Composition diagram"
            type="MODembedCompositionDiagram">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="hu.modembed.model.graph.composition.CompositionDiagramTypeProvider"
            id="hu.modembed.model.graph.compositionDiagram.provider"
            name="Composition diagram editor">
         <diagramType
               id="hu.modembed.model.graph.compositionDiagram">
         </diagramType>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="hu.modembed.model.graph.createDiagram"
            name="Create Diagram">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:hu.modembed.model.editor?before=additions">
         <command
               commandId="hu.modembed.model.graph.createDiagram"
               label="Create Diagram"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="hu.modembed.model.graph.composition.CreateCompositionDiagramHandler"
            commandId="hu.modembed.model.graph.createDiagram">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="hu.modembed.model.application.composition.CompositeComponent">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
   </extension>

</plugin>
