<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            id="hu.modembed.model.graph.compositionDiagram"
            name="Composition diagram"
            type="MODembedCompositionDiagram">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="hu.modembed.model.graph.composition.CompositionDiagramTypeProvider"
            id="hu.modembed.model.graph.compositionDiagram.provider"
            name="Composition diagram editor">
         <diagramType
               id="hu.modembed.model.graph.compositionDiagram">
         </diagramType>
      </diagramTypeProvider>
   </extension>

</plugin>
