@CHARSET "UTF-8";

body {
	background-color: #999;
	margin:0;
	padding: 0;
}
div.main{
	width: 1000px;
	height: 100%;
	padding: 0;
	margin: 0;
}
div.toc {
	position:relative;
	float: left;
	width: 200px;
	height: 98%;
	background-color: #fff;
	border: 1px solid #000;
	margin: 2px;
	padding: 0;
}

h1 {
	display: block;
	font-size: 1em;
	text-align: center;
	background-color: #eee;
	padding: 0;
	margin: 0;
}
h2 {
	display: block;
	font-size: 1em;
	text-align: center;
	padding: 0;
	margin: 0;
}
ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
li{
	padding-left: 10px;
}
a, span.li{
	font-family: sans-serif;
	font-size: 0.8em;
}

div.clear {
	overflow: hidden;
	clear: both;
	padding: 0;
	margin: -1px;
}

iframe {
	position:relative;
	margin: 2px;
	padding: 0;
	border: 1px solid #000;
	float: right;
	width: 780px;
	height: 98%;
	background-color: #fff;
}