<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="hu.modembed.model.textnotations.type.mopp.TypeMetaInformation" id="hu.modembed.model.textnotations.type.mopp.TypeMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="hu.modembed.model.textnotations.type.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="hu.modembed.model.textnotations.type.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="hu.modembed.model.textnotations.type.problem">
		</super>
	</extension>
	
	<extension id="hu.modembed.model.textnotations.type.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="hu.modembed.model.textnotations.type.problem">
		</super>
	</extension>
	
	<extension id="hu.modembed.model.textnotations.type.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="hu.modembed.model.textnotations.type.problem">
		</super>
	</extension>
	
	<extension id="hu.modembed.model.textnotations.type.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="hu.modembed.model.textnotations.type.problem">
		</super>
	</extension>
	
	<extension id="hu.modembed.model.textnotations.type.problem.batch_constraint_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="hu.modembed.model.textnotations.type.problem">
		</super>
	</extension>
	
	<extension id="hu.modembed.model.textnotations.type.problem.live_constraint_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="hu.modembed.model.textnotations.type.problem">
		</super>
	</extension>
	
	<extension id="hu.modembed.model.textnotations.type.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="hu.modembed.model.textnotations.type.problem">
		</super>
	</extension>
	
	<extension id="hu.modembed.model.textnotations.type.nature" name="type nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="hu.modembed.model.textnotations.type.mopp.TypeNature">
			</run>
		</runtime>
		<builder id="hu.modembed.model.textnotations.type.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="hu.modembed.model.textnotations.type.builder" name="type Builder">
		<builder hasNature="true">
			<run class="hu.modembed.model.textnotations.type.mopp.TypeBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="hu.modembed.model.textnotations.type.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="hu.modembed.model.textnotations.type.mopp.TypeResourceFactoryDelegator" type="type">
		</parser>
	</extension>
	
	<extension-point id="hu.modembed.model.textnotations.type.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
</plugin>
