<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="hu.modembed.model.textnotations.instructionset.mopp.InstructionsetMetaInformation" id="hu.modembed.model.textnotations.instructionset.mopp.InstructionsetMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="hu.modembed.model.textnotations.instructionset.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="hu.modembed.model.textnotations.instructionset.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="hu.modembed.model.textnotations.instructionset.problem">
		</super>
	</extension>
	
	<extension id="hu.modembed.model.textnotations.instructionset.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="hu.modembed.model.textnotations.instructionset.problem">
		</super>
	</extension>
	
	<extension id="hu.modembed.model.textnotations.instructionset.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="hu.modembed.model.textnotations.instructionset.problem">
		</super>
	</extension>
	
	<extension id="hu.modembed.model.textnotations.instructionset.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="hu.modembed.model.textnotations.instructionset.problem">
		</super>
	</extension>
	
	<extension id="hu.modembed.model.textnotations.instructionset.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="hu.modembed.model.textnotations.instructionset.problem">
		</super>
	</extension>
	
	<extension id="hu.modembed.model.textnotations.instructionset.nature" name="instructionset nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="hu.modembed.model.textnotations.instructionset.mopp.InstructionsetNature">
			</run>
		</runtime>
		<builder id="hu.modembed.model.textnotations.instructionset.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="hu.modembed.model.textnotations.instructionset.builder" name="instructionset Builder">
		<builder hasNature="true">
			<run class="hu.modembed.model.textnotations.instructionset.mopp.InstructionsetBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="hu.modembed.model.textnotations.instructionset.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="hu.modembed.model.textnotations.instructionset.mopp.InstructionsetResourceFactoryDelegator" type="instructionset">
		</parser>
	</extension>
	
	<extension-point id="hu.modembed.model.textnotations.instructionset.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
	<extension point="org.eclipse.debug.core.breakpoints">
		<breakpoint class="hu.modembed.model.textnotations.instructionset.debug.InstructionsetLineBreakpoint" id="hu.modembed.model.textnotations.instructionset.debug.breakpoint" markerType="hu.modembed.model.textnotations.instructionset.debug.lineBreakpoint.marker" name="instructionset Breakpoint">
		</breakpoint>
	</extension>
	
	<extension id="hu.modembed.model.textnotations.instructionset.debug.lineBreakpoint.marker" point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.debug.core.lineBreakpointMarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<persistent value="true">
		</persistent>
	</extension>
	
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType id="hu.modembed.model.textnotations.instructionset.ui.launchConfigurationType" delegate="hu.modembed.model.textnotations.instructionset.launch.InstructionsetLaunchConfigurationDelegate" modes="run,debug" name="instructionset Application" sourceLocatorId="hu.modembed.model.textnotations.instructionset.ui.sourceLocator" sourcePathComputerId="hu.modembed.model.textnotations.instructionset.ui.sourcePathComputer" delegateName="instructionset Launch Tooling" delegateDescription="This will run or debug .instructionset files.">
		</launchConfigurationType>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourcePathComputers">
		<sourcePathComputer class="hu.modembed.model.textnotations.instructionset.debug.InstructionsetSourcePathComputerDelegate" id="hu.modembed.model.textnotations.instructionset.ui.sourcePathComputer">
		</sourcePathComputer>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourceLocators">
		<sourceLocator id="hu.modembed.model.textnotations.instructionset.ui.sourceLocator" class="hu.modembed.model.textnotations.instructionset.debug.InstructionsetSourceLocator" name="instructionset Source Locator">
		</sourceLocator>
	</extension>
	
</plugin>
