<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="hu.modembed.ui.includedCode">
      <project
            id="test0"
            name="test0">
         <resource
               path="/"
               resource="tests/t0_parse/parseTest.e">
         </resource>
      </project>
      <project
            id="test1"
            name="test1">
         <dependency
               project="microchip.pic16">
         </dependency>
         <resource
               path="/"
               resource="tests/t1_assemble/16f1824_blink_wo_Config.hex">
         </resource>
         <resource
               path="/"
               resource="tests/t1_assemble/pic16f1824.arch.xmi">
         </resource>
         <resource
               path="/"
               resource="tests/t1_assemble/build.xmi">
         </resource>
      </project>
      <project
            id="test2"
            name="test2">
         <dependency
               project="microchip.pic16">
         </dependency>
         <resource
               path="/"
               resource="tests/t2_createAssemblerObject/blink.e">
         </resource>
         <resource
               path="/"
               resource="tests/t2_createAssemblerObject/build.e">
         </resource>
      </project>
      <project
            id="test3"
            name="test3">
         <dependency
               project="microchip.pic16">
         </dependency>
         <resource
               path="/"
               resource="tests/t3_compile/blink.e">
         </resource>
         <resource
               path="/"
               resource="tests/t3_compile/compile.e">
         </resource>
         <dependency
               project="e.core">
         </dependency>
         <resource
               path="/"
               resource="tests/t3_compile/pic16f1824.arch.xmi">
         </resource>
         <dependency
               project="microchip.PIC16F1824">
         </dependency>
      </project>
   </extension>

</plugin>
