<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="hu.modembed.ui.includedCode">
      <category
            id="hu.modembed.test.category"
            name="Test projects">
      </category>
      <project
            archive="shared/test.assembler.zip"
            category="hu.modembed.test.category"
            id="test.assembler"
            name="Assembler test">
         <dependency
               project="e.core">
         </dependency>
         <dependency
               project="microchip.pic16">
         </dependency>
      </project>
   </extension>

</plugin>
