<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="hu.cubussapiens.modembed.pic.definitions">
		<cputype model="pic12/PIC12F509.pic" typename="PIC12F509"></cputype>
		<cputype model="pic12/PIC12C508.pic" typename="PIC12C508"></cputype>
		<cputype model="pic12/PIC12C508A.pic" typename="PIC12C508A"></cputype>
		<cputype model="pic12/PIC12C672.pic" typename="PIC12C672"></cputype>
		<cputype model="pic12/PIC12CE518.pic" typename="PIC12CE518"></cputype>
		<cputype model="pic12/PIC12HV609.pic" typename="PIC12HV609"></cputype>
		<cputype model="pic12/PIC12F519.pic" typename="PIC12F519"></cputype>
		<cputype model="pic12/PIC12HV615.pic" typename="PIC12HV615"></cputype>
		<cputype model="pic12/PIC12C509.pic" typename="PIC12C509"></cputype>
		<cputype model="pic12/PIC12C671.pic" typename="PIC12C671"></cputype>
		<cputype model="pic12/PIC12F510.pic" typename="PIC12F510"></cputype>
		<cputype model="pic12/PIC12CE673.pic" typename="PIC12CE673"></cputype>
		<cputype model="pic12/PIC12F683.pic" typename="PIC12F683"></cputype>
		<cputype model="pic12/PIC12F675.pic" typename="PIC12F675"></cputype>
		<cputype model="pic12/PIC12F635.pic" typename="PIC12F635"></cputype>
		<cputype model="pic12/PIC12CE674.pic" typename="PIC12CE674"></cputype>
		<cputype model="pic12/PIC12CR509A.pic" typename="PIC12CR509A"></cputype>
		<cputype model="pic12/PIC12F615.pic" typename="PIC12F615"></cputype>
		<cputype model="pic12/PIC12CE519.pic" typename="PIC12CE519"></cputype>
		<cputype model="pic12/PIC12F508.pic" typename="PIC12F508"></cputype>
		<cputype model="pic12/PIC12C509A.pic" typename="PIC12C509A"></cputype>
		<cputype model="pic12/PIC12F609.pic" typename="PIC12F609"></cputype>
		<cputype model="pic12/PIC12F629.pic" typename="PIC12F629"></cputype>
		<cputype model="pic10/PIC10F204.pic" typename="PIC10F204"></cputype>
		<cputype model="pic10/PIC10F222.pic" typename="PIC10F222"></cputype>
		<cputype model="pic10/PIC10F206.pic" typename="PIC10F206"></cputype>
		<cputype model="pic10/PIC10F202.pic" typename="PIC10F202"></cputype>
		<cputype model="pic10/PIC10F220.pic" typename="PIC10F220"></cputype>
		<cputype model="pic10/PIC10F200.pic" typename="PIC10F200"></cputype>
		<cputype model="pic18/PIC18F8525.pic" typename="PIC18F8525"></cputype>
		<cputype model="pic18/PIC18F8520.pic" typename="PIC18F8520"></cputype>
		<cputype model="pic18/PIC18LF24J10.pic" typename="PIC18LF24J10"></cputype>
		<cputype model="pic18/PIC18F64J90.pic" typename="PIC18F64J90"></cputype>
		<cputype model="pic18/PIC18F4539.pic" typename="PIC18F4539"></cputype>
		<cputype model="pic18/PIC18F4331.pic" typename="PIC18F4331"></cputype>
		<cputype model="pic18/PIC18F4610.pic" typename="PIC18F4610"></cputype>
		<cputype model="pic18/PIC18F85J50.pic" typename="PIC18F85J50"></cputype>
		<cputype model="pic18/PIC18F83J90.pic" typename="PIC18F83J90"></cputype>
		<cputype model="pic18/PIC18F242.pic" typename="PIC18F242"></cputype>
		<cputype model="pic18/PIC18F2455.pic" typename="PIC18F2455"></cputype>
		<cputype model="pic18/PIC18F8393.pic" typename="PIC18F8393"></cputype>
		<cputype model="pic18/PIC18F4455.pic" typename="PIC18F4455"></cputype>
		<cputype model="pic18/PIC18F6720.pic" typename="PIC18F6720"></cputype>
		<cputype model="pic18/PIC18F4520.pic" typename="PIC18F4520"></cputype>
		<cputype model="pic18/PIC18F2320.pic" typename="PIC18F2320"></cputype>
		<cputype model="pic18/PIC18F87J11.pic" typename="PIC18F87J11"></cputype>
		<cputype model="pic18/PIC18F1230.pic" typename="PIC18F1230"></cputype>
		<cputype model="pic18/PIC18F4585.pic" typename="PIC18F4585"></cputype>
		<cputype model="pic18/PIC18F8621.pic" typename="PIC18F8621"></cputype>
		<cputype model="pic18/PIC18F67J11.pic" typename="PIC18F67J11"></cputype>
		<cputype model="pic18/PIC18F65J90.pic" typename="PIC18F65J90"></cputype>
		<cputype model="pic18/PIC18F65J10.pic" typename="PIC18F65J10"></cputype>
		<cputype model="pic18/PIC18F44J10.pic" typename="PIC18F44J10"></cputype>
		<cputype model="pic18/PIC18F4450.pic" typename="PIC18F4450"></cputype>
		<cputype model="pic18/PIC18F8628.pic" typename="PIC18F8628"></cputype>
		<cputype model="pic18/PIC18F8313.pic" typename="PIC18F8313"></cputype>
		<cputype model="pic18/PIC18F65J11.pic" typename="PIC18F65J11"></cputype>
		<cputype model="pic18/PIC18F6520.pic" typename="PIC18F6520"></cputype>
		<cputype model="pic18/PIC18F26K20.pic" typename="PIC18F26K20"></cputype>
		<cputype model="pic18/PIC18F452.pic" typename="PIC18F452"></cputype>
		<cputype model="pic18/PIC18F2321.pic" typename="PIC18F2321"></cputype>
		<cputype model="pic18/PIC18F6413.pic" typename="PIC18F6413"></cputype>
		<cputype model="pic18/PIC18C858.pic" typename="PIC18C858"></cputype>
		<cputype model="pic18/PIC18F6628.pic" typename="PIC18F6628"></cputype>
		<cputype model="pic18/PIC18F2220.pic" typename="PIC18F2220"></cputype>
		<cputype model="pic18/PIC18F8410.pic" typename="PIC18F8410"></cputype>
		<cputype model="pic18/PIC18F2410.pic" typename="PIC18F2410"></cputype>
		<cputype model="pic18/PIC18F4321.pic" typename="PIC18F4321"></cputype>
		<cputype model="pic18/PIC18F86J60.pic" typename="PIC18F86J60"></cputype>
		<cputype model="pic18/PIC18F6493.pic" typename="PIC18F6493"></cputype>
		<cputype model="pic18/PIC18F4221.pic" typename="PIC18F4221"></cputype>
		<cputype model="pic18/PIC18F6620.pic" typename="PIC18F6620"></cputype>
		<cputype model="pic18/PIC18F86J50.pic" typename="PIC18F86J50"></cputype>
		<cputype model="pic18/PIC18F45K20.pic" typename="PIC18F45K20"></cputype>
		<cputype model="pic18/PIC18F448.pic" typename="PIC18F448"></cputype>
		<cputype model="pic18/PIC18F4523.pic" typename="PIC18F4523"></cputype>
		<cputype model="pic18/PIC18F6410.pic" typename="PIC18F6410"></cputype>
		<cputype model="pic18/PIC18F6627.pic" typename="PIC18F6627"></cputype>
		<cputype model="pic18/PIC18F6680.pic" typename="PIC18F6680"></cputype>
		<cputype model="pic18/PIC18F13K50.pic" typename="PIC18F13K50"></cputype>
		<cputype model="pic18/PIC18F2520.pic" typename="PIC18F2520"></cputype>
		<cputype model="pic18/PIC18F252.pic" typename="PIC18F252"></cputype>
		<cputype model="pic18/PIC18F4458.pic" typename="PIC18F4458"></cputype>
		<cputype model="pic18/PIC18F8620.pic" typename="PIC18F8620"></cputype>
		<cputype model="pic18/PIC18F84J90.pic" typename="PIC18F84J90"></cputype>
		<cputype model="pic18/PIC18F6527.pic" typename="PIC18F6527"></cputype>
		<cputype model="pic18/PIC18F2221.pic" typename="PIC18F2221"></cputype>
		<cputype model="pic18/PIC18F2553.pic" typename="PIC18F2553"></cputype>
		<cputype model="pic18/PIC18F2525.pic" typename="PIC18F2525"></cputype>
		<cputype model="pic18/PIC18F2610.pic" typename="PIC18F2610"></cputype>
		<cputype model="pic18/PIC18F4682.pic" typename="PIC18F4682"></cputype>
		<cputype model="pic18/PIC18C252.pic" typename="PIC18C252"></cputype>
		<cputype model="pic18/PIC18F4410.pic" typename="PIC18F4410"></cputype>
		<cputype model="pic18/PIC18F8723.pic" typename="PIC18F8723"></cputype>
		<cputype model="pic18/PIC18F86J10.pic" typename="PIC18F86J10"></cputype>
		<cputype model="pic18/PIC18F2620.pic" typename="PIC18F2620"></cputype>
		<cputype model="pic18/PIC18F4620.pic" typename="PIC18F4620"></cputype>
		<cputype model="pic18/PIC18C242.pic" typename="PIC18C242"></cputype>
		<cputype model="pic18/PIC18F2685.pic" typename="PIC18F2685"></cputype>
		<cputype model="pic18/PIC18F1320.pic" typename="PIC18F1320"></cputype>
		<cputype model="pic18/PIC18F1220.pic" typename="PIC18F1220"></cputype>
		<cputype model="pic18/PIC18F85J90.pic" typename="PIC18F85J90"></cputype>
		<cputype model="pic18/PIC18F84J11.pic" typename="PIC18F84J11"></cputype>
		<cputype model="pic18/PIC18F45J10.pic" typename="PIC18F45J10"></cputype>
		<cputype model="pic18/PIC18F2682.pic" typename="PIC18F2682"></cputype>
		<cputype model="pic18/PIC18F4439.pic" typename="PIC18F4439"></cputype>
		<cputype model="pic18/PIC18F4420.pic" typename="PIC18F4420"></cputype>
		<cputype model="pic18/PIC18F6313.pic" typename="PIC18F6313"></cputype>
		<cputype model="pic18/PIC18F66J60.pic" typename="PIC18F66J60"></cputype>
		<cputype model="pic18/PIC18F2515.pic" typename="PIC18F2515"></cputype>
		<cputype model="pic18/PIC18F8722.pic" typename="PIC18F8722"></cputype>
		<cputype model="pic18/PIC18F6490.pic" typename="PIC18F6490"></cputype>
		<cputype model="pic18/PIC18F96J60.pic" typename="PIC18F96J60"></cputype>
		<cputype model="pic18/PIC18F67J50.pic" typename="PIC18F67J50"></cputype>
		<cputype model="pic18/PIC18F2585.pic" typename="PIC18F2585"></cputype>
		<cputype model="pic18/PIC18F8493.pic" typename="PIC18F8493"></cputype>
		<cputype model="pic18/PIC18F25K20.pic" typename="PIC18F25K20"></cputype>
		<cputype model="pic18/PIC18F85J11.pic" typename="PIC18F85J11"></cputype>
		<cputype model="pic18/PIC18F2439.pic" typename="PIC18F2439"></cputype>
		<cputype model="pic18/PIC18F6310.pic" typename="PIC18F6310"></cputype>
		<cputype model="pic18/PIC18F97J60.pic" typename="PIC18F97J60"></cputype>
		<cputype model="pic18/PIC18F8527.pic" typename="PIC18F8527"></cputype>
		<cputype model="pic18/PIC18F8390.pic" typename="PIC18F8390"></cputype>
		<cputype model="pic18/PIC18C658.pic" typename="PIC18C658"></cputype>
		<cputype model="pic18/PIC18F14K50.pic" typename="PIC18F14K50"></cputype>
		<cputype model="pic18/PIC18F86J65.pic" typename="PIC18F86J65"></cputype>
		<cputype model="pic18/PIC18F63J90.pic" typename="PIC18F63J90"></cputype>
		<cputype model="pic18/PIC18F2450.pic" typename="PIC18F2450"></cputype>
		<cputype model="pic18/PIC18F44K20.pic" typename="PIC18F44K20"></cputype>
		<cputype model="pic18/PIC18F8720.pic" typename="PIC18F8720"></cputype>
		<cputype model="pic18/PIC18F66J50.pic" typename="PIC18F66J50"></cputype>
		<cputype model="pic18/PIC18F2510.pic" typename="PIC18F2510"></cputype>
		<cputype model="pic18/PIC18F87J50.pic" typename="PIC18F87J50"></cputype>
		<cputype model="pic18/PIC18F66J16.pic" typename="PIC18F66J16"></cputype>
		<cputype model="pic18/PIC18F6393.pic" typename="PIC18F6393"></cputype>
		<cputype model="pic18/PIC18F4580.pic" typename="PIC18F4580"></cputype>
		<cputype model="pic18/PIC18F4680.pic" typename="PIC18F4680"></cputype>
		<cputype model="pic18/PIC18F66J15.pic" typename="PIC18F66J15"></cputype>
		<cputype model="pic18/PIC18C452.pic" typename="PIC18C452"></cputype>
		<cputype model="pic18/PIC18F8680.pic" typename="PIC18F8680"></cputype>
		<cputype model="pic18/PIC18F66J55.pic" typename="PIC18F66J55"></cputype>
		<cputype model="pic18/PIC18F25J10.pic" typename="PIC18F25J10"></cputype>
		<cputype model="pic18/PIC18F4510.pic" typename="PIC18F4510"></cputype>
		<cputype model="pic18/PIC18F67J10.pic" typename="PIC18F67J10"></cputype>
		<cputype model="pic18/PIC18F2680.pic" typename="PIC18F2680"></cputype>
		<cputype model="pic18/PIC18F66J10.pic" typename="PIC18F66J10"></cputype>
		<cputype model="pic18/PIC18F442.pic" typename="PIC18F442"></cputype>
		<cputype model="pic18/PIC18F258.pic" typename="PIC18F258"></cputype>
		<cputype model="pic18/PIC18F1330.pic" typename="PIC18F1330"></cputype>
		<cputype model="pic18/PIC18F4480.pic" typename="PIC18F4480"></cputype>
		<cputype model="pic18/PIC18F2420.pic" typename="PIC18F2420"></cputype>
		<cputype model="pic18/PIC18F8490.pic" typename="PIC18F8490"></cputype>
		<cputype model="pic18/PIC18F24K20.pic" typename="PIC18F24K20"></cputype>
		<cputype model="pic18/PIC18F8413.pic" typename="PIC18F8413"></cputype>
		<cputype model="pic18/PIC18F4553.pic" typename="PIC18F4553"></cputype>
		<cputype model="pic18/PIC18F2550.pic" typename="PIC18F2550"></cputype>
		<cputype model="pic18/PIC18F87J10.pic" typename="PIC18F87J10"></cputype>
		<cputype model="pic18/PIC18F8622.pic" typename="PIC18F8622"></cputype>
		<cputype model="pic18/PIC18F24J10.pic" typename="PIC18F24J10"></cputype>
		<cputype model="pic18/PIC18F2539.pic" typename="PIC18F2539"></cputype>
		<cputype model="pic18/PIC18F2331.pic" typename="PIC18F2331"></cputype>
		<cputype model="pic18/PIC18F4320.pic" typename="PIC18F4320"></cputype>
		<cputype model="pic18/PIC18F86J16.pic" typename="PIC18F86J16"></cputype>
		<cputype model="pic18/PIC18F2431.pic" typename="PIC18F2431"></cputype>
		<cputype model="pic18/PIC18F4423.pic" typename="PIC18F4423"></cputype>
		<cputype model="pic18/PIC18F4685.pic" typename="PIC18F4685"></cputype>
		<cputype model="pic18/PIC18F66J65.pic" typename="PIC18F66J65"></cputype>
		<cputype model="pic18/PIC18C801.pic" typename="PIC18C801"></cputype>
		<cputype model="pic18/PIC18F458.pic" typename="PIC18F458"></cputype>
		<cputype model="pic18/PIC18F65J15.pic" typename="PIC18F65J15"></cputype>
		<cputype model="pic18/PIC18F46K20.pic" typename="PIC18F46K20"></cputype>
		<cputype model="pic18/PIC18F4431.pic" typename="PIC18F4431"></cputype>
		<cputype model="pic18/PIC18F83J11.pic" typename="PIC18F83J11"></cputype>
		<cputype model="pic18/PIC18F248.pic" typename="PIC18F248"></cputype>
		<cputype model="pic18/PIC18F85J15.pic" typename="PIC18F85J15"></cputype>
		<cputype model="pic18/PIC18F6723.pic" typename="PIC18F6723"></cputype>
		<cputype model="pic18/PIC18F6621.pic" typename="PIC18F6621"></cputype>
		<cputype model="pic18/PIC18LF25J10.pic" typename="PIC18LF25J10"></cputype>
		<cputype model="pic18/PIC18LF44J10.pic" typename="PIC18LF44J10"></cputype>
		<cputype model="pic18/PIC18F2458.pic" typename="PIC18F2458"></cputype>
		<cputype model="pic18/PIC18F6525.pic" typename="PIC18F6525"></cputype>
		<cputype model="pic18/PIC18F2423.pic" typename="PIC18F2423"></cputype>
		<cputype model="pic18/PIC18F8627.pic" typename="PIC18F8627"></cputype>
		<cputype model="pic18/PIC18F65J50.pic" typename="PIC18F65J50"></cputype>
		<cputype model="pic18/PIC18F8585.pic" typename="PIC18F8585"></cputype>
		<cputype model="pic18/PIC18F66J11.pic" typename="PIC18F66J11"></cputype>
		<cputype model="pic18/PIC18F2523.pic" typename="PIC18F2523"></cputype>
		<cputype model="pic18/PIC18F8310.pic" typename="PIC18F8310"></cputype>
		<cputype model="pic18/PIC18F67J60.pic" typename="PIC18F67J60"></cputype>
		<cputype model="pic18/PIC18F96J65.pic" typename="PIC18F96J65"></cputype>
		<cputype model="pic18/PIC18C601.pic" typename="PIC18C601"></cputype>
		<cputype model="pic18/PIC18F86J11.pic" typename="PIC18F86J11"></cputype>
		<cputype model="pic18/PIC18F6622.pic" typename="PIC18F6622"></cputype>
		<cputype model="pic18/PIC18F2580.pic" typename="PIC18F2580"></cputype>
		<cputype model="pic18/PIC18F86J55.pic" typename="PIC18F86J55"></cputype>
		<cputype model="pic18/PIC18F63J11.pic" typename="PIC18F63J11"></cputype>
		<cputype model="pic18/PIC18F85J10.pic" typename="PIC18F85J10"></cputype>
		<cputype model="pic18/PIC18F6722.pic" typename="PIC18F6722"></cputype>
		<cputype model="pic18/PIC18F6390.pic" typename="PIC18F6390"></cputype>
		<cputype model="pic18/PIC18F86J15.pic" typename="PIC18F86J15"></cputype>
		<cputype model="pic18/PIC18F6585.pic" typename="PIC18F6585"></cputype>
		<cputype model="pic18/PIC18F2480.pic" typename="PIC18F2480"></cputype>
		<cputype model="pic18/PIC18F4220.pic" typename="PIC18F4220"></cputype>
		<cputype model="pic18/PIC18F87J60.pic" typename="PIC18F87J60"></cputype>
		<cputype model="pic18/PIC18C442.pic" typename="PIC18C442"></cputype>
		<cputype model="pic18/PIC18F4525.pic" typename="PIC18F4525"></cputype>
		<cputype model="pic18/PIC18F4515.pic" typename="PIC18F4515"></cputype>
		<cputype model="pic18/PIC18LF45J10.pic" typename="PIC18LF45J10"></cputype>
		<cputype model="pic18/PIC18F64J11.pic" typename="PIC18F64J11"></cputype>
		<cputype model="pic18/PIC18F4550.pic" typename="PIC18F4550"></cputype>
		<cputype model="pic16/PIC16F818.pic" typename="PIC16F818"></cputype>
		<cputype model="pic16/PIC16F872.pic" typename="PIC16F872"></cputype>
		<cputype model="pic16/PIC16C745.pic" typename="PIC16C745"></cputype>
		<cputype model="pic16/PIC16C67.pic" typename="PIC16C67"></cputype>
		<cputype model="pic16/PIC16CR62.pic" typename="PIC16CR62"></cputype>
		<cputype model="pic16/PIC16CR72.pic" typename="PIC16CR72"></cputype>
		<cputype model="pic16/PIC16F685.pic" typename="PIC16F685"></cputype>
		<cputype model="pic16/PIC16C505.pic" typename="PIC16C505"></cputype>
		<cputype model="pic16/PIC16F610.pic" typename="PIC16F610"></cputype>
		<cputype model="pic16/PIC16F874.pic" typename="PIC16F874"></cputype>
		<cputype model="pic16/PIC16F648A.pic" typename="PIC16F648A"></cputype>
		<cputype model="pic16/PIC16C662.pic" typename="PIC16C662"></cputype>
		<cputype model="pic16/PIC16F76.pic" typename="PIC16F76"></cputype>
		<cputype model="pic16/PIC16CR83.pic" typename="PIC16CR83"></cputype>
		<cputype model="pic16/PIC16C765.pic" typename="PIC16C765"></cputype>
		<cputype model="pic16/PIC16F77.pic" typename="PIC16F77"></cputype>
		<cputype model="pic16/PIC16F883.pic" typename="PIC16F883"></cputype>
		<cputype model="pic16/PIC16C62B.pic" typename="PIC16C62B"></cputype>
		<cputype model="pic16/PIC16C557.pic" typename="PIC16C557"></cputype>
		<cputype model="pic16/PIC16CR76.pic" typename="PIC16CR76"></cputype>
		<cputype model="pic16/PIC16F724.pic" typename="PIC16F724"></cputype>
		<cputype model="pic16/PIC16F737.pic" typename="PIC16F737"></cputype>
		<cputype model="pic16/PIC16C63A.pic" typename="PIC16C63A"></cputype>
		<cputype model="pic16/PIC16F767.pic" typename="PIC16F767"></cputype>
		<cputype model="pic16/PIC16C924.pic" typename="PIC16C924"></cputype>
		<cputype model="pic16/PIC16F716.pic" typename="PIC16F716"></cputype>
		<cputype model="pic16/PIC16F677.pic" typename="PIC16F677"></cputype>
		<cputype model="pic16/PIC16C774.pic" typename="PIC16C774"></cputype>
		<cputype model="pic16/PIC16C923.pic" typename="PIC16C923"></cputype>
		<cputype model="pic16/PIC16C63.pic" typename="PIC16C63"></cputype>
		<cputype model="pic16/PIC16C65A.pic" typename="PIC16C65A"></cputype>
		<cputype model="pic16/PIC16CR54C.pic" typename="PIC16CR54C"></cputype>
		<cputype model="pic16/PIC16F526.pic" typename="PIC16F526"></cputype>
		<cputype model="pic16/PIC16F785.pic" typename="PIC16F785"></cputype>
		<cputype model="pic16/PIC16HV610.pic" typename="PIC16HV610"></cputype>
		<cputype model="pic16/PIC16C642.pic" typename="PIC16C642"></cputype>
		<cputype model="pic16/PIC16CR74.pic" typename="PIC16CR74"></cputype>
		<cputype model="pic16/PIC16F57.pic" typename="PIC16F57"></cputype>
		<cputype model="pic16/PIC16F73.pic" typename="PIC16F73"></cputype>
		<cputype model="pic16/PIC16CR65.pic" typename="PIC16CR65"></cputype>
		<cputype model="pic16/PIC16F870.pic" typename="PIC16F870"></cputype>
		<cputype model="pic16/PIC16CR54.pic" typename="PIC16CR54"></cputype>
		<cputype model="pic16/PIC16CR620A.pic" typename="PIC16CR620A"></cputype>
		<cputype model="pic16/PIC16F88.pic" typename="PIC16F88"></cputype>
		<cputype model="pic16/PIC16F506.pic" typename="PIC16F506"></cputype>
		<cputype model="pic16/PIC16F722.pic" typename="PIC16F722"></cputype>
		<cputype model="pic16/PIC16C770.pic" typename="PIC16C770"></cputype>
		<cputype model="pic16/PIC16F689.pic" typename="PIC16F689"></cputype>
		<cputype model="pic16/PIC16CR77.pic" typename="PIC16CR77"></cputype>
		<cputype model="pic16/PIC16C71.pic" typename="PIC16C71"></cputype>
		<cputype model="pic16/PIC16CR56A.pic" typename="PIC16CR56A"></cputype>
		<cputype model="pic16/PIC16C74A.pic" typename="PIC16C74A"></cputype>
		<cputype model="pic16/PIC16F505.pic" typename="PIC16F505"></cputype>
		<cputype model="pic16/PIC16C620A.pic" typename="PIC16C620A"></cputype>
		<cputype model="pic16/PIC16C620.pic" typename="PIC16C620"></cputype>
		<cputype model="pic16/PIC16CR63.pic" typename="PIC16CR63"></cputype>
		<cputype model="pic16/PIC16C622.pic" typename="PIC16C622"></cputype>
		<cputype model="pic16/PIC16F747.pic" typename="PIC16F747"></cputype>
		<cputype model="pic16/PIC16CR54A.pic" typename="PIC16CR54A"></cputype>
		<cputype model="pic16/PIC16F876A.pic" typename="PIC16F876A"></cputype>
		<cputype model="pic16/PIC16F726.pic" typename="PIC16F726"></cputype>
		<cputype model="pic16/PIC16C73B.pic" typename="PIC16C73B"></cputype>
		<cputype model="pic16/PIC16C554.pic" typename="PIC16C554"></cputype>
		<cputype model="pic16/PIC16C432.pic" typename="PIC16C432"></cputype>
		<cputype model="pic16/PIC16F723.pic" typename="PIC16F723"></cputype>
		<cputype model="pic16/PIC16C74B.pic" typename="PIC16C74B"></cputype>
		<cputype model="pic16/PIC16F83.pic" typename="PIC16F83"></cputype>
		<cputype model="pic16/PIC16F917.pic" typename="PIC16F917"></cputype>
		<cputype model="pic16/PIC16F627A.pic" typename="PIC16F627A"></cputype>
		<cputype model="pic16/PIC16F631.pic" typename="PIC16F631"></cputype>
		<cputype model="pic16/PIC16CR926.pic" typename="PIC16CR926"></cputype>
		<cputype model="pic16/PIC16F873.pic" typename="PIC16F873"></cputype>
		<cputype model="pic16/PIC16C558.pic" typename="PIC16C558"></cputype>
		<cputype model="pic16/PIC16F913.pic" typename="PIC16F913"></cputype>
		<cputype model="pic16/PIC16F628.pic" typename="PIC16F628"></cputype>
		<cputype model="pic16/PIC16F727.pic" typename="PIC16F727"></cputype>
		<cputype model="pic16/PIC16CR84.pic" typename="PIC16CR84"></cputype>
		<cputype model="pic16/PIC16F72.pic" typename="PIC16F72"></cputype>
		<cputype model="pic16/PIC16F616.pic" typename="PIC16F616"></cputype>
		<cputype model="pic16/PIC16F84.pic" typename="PIC16F84"></cputype>
		<cputype model="pic16/PIC16C773.pic" typename="PIC16C773"></cputype>
		<cputype model="pic16/PIC16C711.pic" typename="PIC16C711"></cputype>
		<cputype model="pic16/PIC16F876.pic" typename="PIC16F876"></cputype>
		<cputype model="pic16/PIC16F628A.pic" typename="PIC16F628A"></cputype>
		<cputype model="pic16/PIC16C73A.pic" typename="PIC16C73A"></cputype>
		<cputype model="pic16/PIC16HV616.pic" typename="PIC16HV616"></cputype>
		<cputype model="pic16/PIC16F684.pic" typename="PIC16F684"></cputype>
		<cputype model="pic16/PIC16F630.pic" typename="PIC16F630"></cputype>
		<cputype model="pic16/PIC16F914.pic" typename="PIC16F914"></cputype>
		<cputype model="pic16/PIC16C781.pic" typename="PIC16C781"></cputype>
		<cputype model="pic16/PIC16F676.pic" typename="PIC16F676"></cputype>
		<cputype model="pic16/PIC16HV540.pic" typename="PIC16HV540"></cputype>
		<cputype model="pic16/PIC16C710.pic" typename="PIC16C710"></cputype>
		<cputype model="pic16/PIC16C65B.pic" typename="PIC16C65B"></cputype>
		<cputype model="pic16/PIC16C56.pic" typename="PIC16C56"></cputype>
		<cputype model="pic16/PIC16CE625.pic" typename="PIC16CE625"></cputype>
		<cputype model="pic16/PIC16C77.pic" typename="PIC16C77"></cputype>
		<cputype model="pic16/PIC16C782.pic" typename="PIC16C782"></cputype>
		<cputype model="pic16/PIC16F54.pic" typename="PIC16F54"></cputype>
		<cputype model="pic16/PIC16C621A.pic" typename="PIC16C621A"></cputype>
		<cputype model="pic16/PIC16C55.pic" typename="PIC16C55"></cputype>
		<cputype model="pic16/PIC16F882.pic" typename="PIC16F882"></cputype>
		<cputype model="pic16/PIC16F59.pic" typename="PIC16F59"></cputype>
		<cputype model="pic16/PIC16F877.pic" typename="PIC16F877"></cputype>
		<cputype model="pic16/PIC16C622A.pic" typename="PIC16C622A"></cputype>
		<cputype model="pic16/PIC16F688.pic" typename="PIC16F688"></cputype>
		<cputype model="pic16/PIC16C54.pic" typename="PIC16C54"></cputype>
		<cputype model="pic16/PIC16CR64.pic" typename="PIC16CR64"></cputype>
		<cputype model="pic16/PIC16C72A.pic" typename="PIC16C72A"></cputype>
		<cputype model="pic16/PIC16C717.pic" typename="PIC16C717"></cputype>
		<cputype model="pic16/PIC16C925.pic" typename="PIC16C925"></cputype>
		<cputype model="pic16/PIC16F886.pic" typename="PIC16F886"></cputype>
		<cputype model="pic16/PIC16F690.pic" typename="PIC16F690"></cputype>
		<cputype model="pic16/PIC16F916.pic" typename="PIC16F916"></cputype>
		<cputype model="pic16/PIC16C433.pic" typename="PIC16C433"></cputype>
		<cputype model="pic16/PIC16F887.pic" typename="PIC16F887"></cputype>
		<cputype model="pic16/PIC16F84A.pic" typename="PIC16F84A"></cputype>
		<cputype model="pic16/PIC16F87.pic" typename="PIC16F87"></cputype>
		<cputype model="pic16/PIC16F877A.pic" typename="PIC16F877A"></cputype>
		<cputype model="pic16/PIC16F687.pic" typename="PIC16F687"></cputype>
		<cputype model="pic16/PIC16C72.pic" typename="PIC16C72"></cputype>
		<cputype model="pic16/PIC16F873A.pic" typename="PIC16F873A"></cputype>
		<cputype model="pic16/PIC16C58B.pic" typename="PIC16C58B"></cputype>
		<cputype model="pic16/PIC16C715.pic" typename="PIC16C715"></cputype>
		<cputype model="pic16/PIC16CR73.pic" typename="PIC16CR73"></cputype>
		<cputype model="pic16/PIC16F871.pic" typename="PIC16F871"></cputype>
		<cputype model="pic16/PIC16F627.pic" typename="PIC16F627"></cputype>
		<cputype model="pic16/PIC16F639.pic" typename="PIC16F639"></cputype>
		<cputype model="pic16/PIC16C926.pic" typename="PIC16C926"></cputype>
		<cputype model="pic16/PIC16F74.pic" typename="PIC16F74"></cputype>
		<cputype model="pic16/PIC16C76.pic" typename="PIC16C76"></cputype>
		<cputype model="pic16/PIC16C64A.pic" typename="PIC16C64A"></cputype>
		<cputype model="pic16/PIC16CE623.pic" typename="PIC16CE623"></cputype>
		<cputype model="pic16/PIC16HV785.pic" typename="PIC16HV785"></cputype>
		<cputype model="pic16/PIC16F819.pic" typename="PIC16F819"></cputype>
		<cputype model="pic16/PIC16F777.pic" typename="PIC16F777"></cputype>
		<cputype model="pic16/PIC16C57C.pic" typename="PIC16C57C"></cputype>
		<cputype model="pic16/PIC16F874A.pic" typename="PIC16F874A"></cputype>
		<cputype model="pic16/PIC16C58A.pic" typename="PIC16C58A"></cputype>
		<cputype model="pic16/PIC16CE624.pic" typename="PIC16CE624"></cputype>
		<cputype model="pic16/PIC16C712.pic" typename="PIC16C712"></cputype>
		<cputype model="pic16/PIC16C56A.pic" typename="PIC16C56A"></cputype>
		<cputype model="pic16/PIC16C716.pic" typename="PIC16C716"></cputype>
		<cputype model="pic16/PIC16C57.pic" typename="PIC16C57"></cputype>
		<cputype model="pic16/PIC16C55A.pic" typename="PIC16C55A"></cputype>
		<cputype model="pic16/PIC16C621.pic" typename="PIC16C621"></cputype>
		<cputype model="pic16/PIC16C62A.pic" typename="PIC16C62A"></cputype>
		<cputype model="pic16/PIC16F636.pic" typename="PIC16F636"></cputype>
		<cputype model="pic16/PIC16C54C.pic" typename="PIC16C54C"></cputype>
		<cputype model="pic16/PIC16F946.pic" typename="PIC16F946"></cputype>
		<cputype model="pic16/PIC16C771.pic" typename="PIC16C771"></cputype>
		<cputype model="pic16/PIC16CR57C.pic" typename="PIC16CR57C"></cputype>
		<cputype model="pic16/PIC16CR58B.pic" typename="PIC16CR58B"></cputype>
		<cputype model="pic16/PIC16F884.pic" typename="PIC16F884"></cputype>
		<cputype model="pic16/PIC16C66.pic" typename="PIC16C66"></cputype>
	</extension>
 <extension
       point="hu.cubussapiens.modembed.instructionsets">
    <instructionset
          id="microchip.pic18.iset"
          model="pic18.instructionset">
    </instructionset>
 </extension>
 <extension
       point="hu.cubussapiens.modembed.architectures">
    <architecture
          id="microchip.pic18"
          instructionSet="microchip.pic18.iset"
          name="Microchip PIC18">
    </architecture>
 </extension>
 <extension
       point="hu.cubussapiens.modembed.modularasm.sharedLibrary">
    <library
          folder="microchip"
          rootname="microchip">
    </library>
 </extension>
</plugin>
