<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="hu.cubussapiens.modembed.pic.ui.configt.ConfiguratorEditorPart"
            default="true"
            extensions="configurator"
            filenames="configurator"
            icon="icons/insert.png"
            id="hu.gb.embedded.pic.ui.config.project.configurator"
            name="PIC configurator">
      </editor>
   </extension>

</plugin>
