<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="hu.temon.editor.TextualModelEditor"
            default="false"
            extensions="mal"
            id="hu.modembed.application.ui.editor"
            name="Modembed Application Library editor">
      </editor>
   </extension>

</plugin>
