<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="hu.temon.editor.TextualModelEditor"
            default="false"
            extensions="mal"
            id="hu.modembed.application.ui.editor"
            name="Modembed Application Library editor">
      </editor>
   </extension>
	<extension
         point="org.eclipse.ui.menus">
      <menuContribution
         locationURI=
         "popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command
               commandId="hu.modembed.application.ui.generate"
               label="Generate"
               tooltip="Generate code">
         </command>
      </menuContribution>
   </extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          defaultHandler="hu.modembed.application.ui.GenerateHandler"
          id="hu.modembed.application.ui.generate"
          name="Generate">
    </command>
 </extension>
</plugin>
