<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated elf -->
      <package
            uri="http://modembed.hu/elf"
            class="elf.ElfPackage"
            genModel="model/elf.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.content_parser">
      <parser
            class="hu.modembed.elf.ElfResourceFactory"
            contentTypeIdentifier="ELF">
      </parser>
   </extension>

</plugin>
