<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>

  <title>{{ page.title }}</title>

  <link rel="stylesheet" type="text/css" href="http://gbalage.github.com/modembed/index.css" />
</head>

<body>

	<div id="header" class="container">
		<h1><a href="http://gbalage.github.com/modembed/"><img src="http://gbalage.github.com/modembed/modembedlogo.png" /></a></h1>
		<div id="headerbuttons">
			<a class="abutton" href="http://gbalage.github.com/modembed/help/">Online Help</a>
			<a class="abutton" href="https://github.com/gbalage/modembed">GitHub</a>
			<a class="abutton" href="https://github.com/gbalage/modembed/wiki">Wiki</a>
			<a class="abutton" href="https://github.com/gbalage/modembed/issues">Issues</a>
			<a class="abutton" href="http://marketplace.eclipse.org/content/modembed">Eclipse marketplace</a>
		</div>
	</div>

  <div class="container content">

{{ content }}

  </div>

  
</body>
</html>
