<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://microchip.com/device"
            class="microchip.device.DevicePackage"
            genModel="model/microchip.device.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://microchip.com/device/generic"
            class="microchip.device.generic.GenericPackage"
            genModel="model/microchip.device.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="crownking.edc.EdcPackage"
            genModel="model/edc.genmodel"
            uri="http://crownking/edc">
      </package>
   </extension>

</plugin>
