<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="hu.cubussapiens.modembed.ui.project.extensions" name="Project extensions" schema="schema/hu.cubussapiens.modembed.ui.project.extensions.exsd"/>
   <extension
         id="nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="hu.cubussapiens.modembed.ui.ProjectNature">
         </run>
      </runtime>
      <builder
            id="hu.cubussapiens.modembed.ui.masmbuilder">
      </builder>
      <requires-nature
            id="org.eclipse.xtext.ui.shared.xtextNature">
      </requires-nature>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/chip.png"
            id="hu.cubussapiens.modembed.ui.nature.icon"
            natureId="hu.cubussapiens.modembed.ui.nature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="hu.cubussapiens.modembed.ui.wizards"
            class="hu.cubussapiens.modembed.ui.wizards.NewMODembedProjectWizard"
            icon="icons/project_chip.png"
            id="hu.cubussapiens.modembed.ui.newProject"
            name="New MODembed project"
            project="true">
      </wizard>
      <category
            id="hu.cubussapiens.modembed.ui.wizards"
            name="MODembed">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="hu.cubussapiens.modembed.ui.project.settingsEditor.ProjectSettingsEditorPart"
            default="true"
            filenames="modembed.project"
            icon="icons/project_settings.png"
            id="hu.cubussapiens.modembed.ui.project.settingsEditor"
            name="ProjectSettingsEditor">
      </editor>
      <editor
            class="hu.cubussapiens.modembed.ui.config.editor.ConfigEditorPart"
            default="true"
            extensions="config"
            icon="icons/chip_config.png"
            id="hu.cubussapiens.modembed.ui.config.editor"
            name="Configuration editor">
      </editor>
   </extension>
   <extension
         id="masmbuilder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="true"
            isConfigurable="false">
         <run
               class="hu.cubussapiens.modembed.ui.builder.MASMBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="marker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="MODembed">
         <property
               name="appName"
               value="MODembed">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,162,345,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,182,349,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="icons/window/cpu_50.png">
         </property>
         <property
               name="aboutText"
               value="MODembed {0} ({1}/{2})&#x0A;&#x0A;Model-based embedded development environment&#x0A;&#x0A;web page: http://gbalage.github.com/modembed/">
         </property>
         <property
               name="windowImages"
               value="icons/window/cpu_16.png,icons/window/cpu_48.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="hu.cubussapiens.modembed.ui.Startup">
      </startup>
   </extension>

</plugin>
