<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="hu.cubussapiens.modembed.ui.project.extensions">
      <projectExtension
            architectureID="microchip.pic10"
            extensionClass="hu.cubussapiens.modembed.pic.ui.wizard.Pic10ProjectExtension">
      </projectExtension>
      <projectExtension
            architectureID="microchip.pic18"
            extensionClass="hu.cubussapiens.modembed.pic.ui.wizard.Pic18ProjectExtension">
      </projectExtension>
      <projectExtension
            architectureID="microchip.pic12"
            extensionClass="hu.cubussapiens.modembed.pic.ui.wizard.Pic12ProjectExtension">
      </projectExtension>
      <projectExtension
            architectureID="microchip.pic16"
            extensionClass="hu.cubussapiens.modembed.pic.ui.wizard.Pic16ProjectExtension">
      </projectExtension>
   </extension>

</plugin>
