<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="hu.modembed.pic.ui.generateDesc"
            nameFilter="*.dev"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="hu.modembed.pic.ui.GeneratePicDesc"
               id="hu.modembed.pic.ui.GeneratePicDesc"
               label="Generate PIC description">
         </action>
      </objectContribution>
   </extension>

</plugin>
