<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="hu.modembed.ui.category"
            class="hu.modembed.pic.ui.wizard.ImportPICLibWizard"
            id="hu.modembed.pic.ui.importLib"
            name="Import PIC library">
      </wizard>
   </extension>

</plugin>
